body {
	background:#333;
}



/* dropdown css addition */
.sbHolder{
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #C33;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: #C33;
}
.sbOptions .sbGroup{
	color: #C33;
}



#componentWrapper{
	position:relative;
	min-width:310px;
	max-width:500px;
	top:30px;
	clear:left;
}
 
/* player holder */
#componentWrapper .playerHolder{
	position:relative;
	height:300px;
	top:0px;
	left:0px;
	width:100%;
	background:#111;
	margin-bottom:1px;
	
	float:left;
	
	/*-moz-box-shadow: 0px 5px 5px #111;
	-webkit-box-shadow: 0px 5px 5px #111;
	box-shadow: 0px 5px 5px #111;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#111111')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#111111');*/
	
}

#componentWrapper .player_thumb{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:255px;
	background:#000;
	overflow:hidden;
}

#componentWrapper .player_thumb img{
	display:block;
	width:auto;
	height:100%;
	margin:0 auto;
}

@media only screen and (max-width: 400px) {
	#componentWrapper .player_mediaName_Mask{
		display: none;
	}
}


/* player audio name mask for the name scroll function. */
#componentWrapper .player_mediaName_Mask{
	position:relative;
	top:7px;
	left:25px;
	float:left;
	
	width:60%;
	width: -webkit-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: calc(100% - 200px);
	
	height:20px;
	overflow:hidden;
	/*background:#333;*/

}

/* player audio name */
#componentWrapper .player_mediaName{
	position:absolute;
	top:1px;
	left:0px;
	white-space: nowrap;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
}

/* player audio time */
#componentWrapper .player_mediaTime{
	position:relative;
	top:10px;
	float:right;
	margin-right:20px;
	
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}

#componentWrapper .player_mediaTime_current{
	position:relative;
	top:0px;
	left:0px;
	float:left;
}

#componentWrapper .player_mediaTime_total{
	position:relative;
	top:0px;
	left:0px;
	float:left;
}

/* player holder for (previous,play/pause,next) buttons */
#componentWrapper .player_controls{
	position:relative;
	width:100%;
	height:32px;
	top:0px;
	left:0px;
	float:left;
	clear:both;
	/*background:red;*/
}

/* player previous */
#componentWrapper .controls_prev{
	position:relative;
	width:25px;
	height:26px;
	float:left;
	margin-right:8px;
	margin-left:20px;
}

/* player play/pause */
#componentWrapper .controls_toggle{
	position:relative;
	top:0px;
	left:10px;
	width:30px;
	height:31px;
	float:left;
	/*background:red;*/
}

#componentWrapper .controls_toggle img{
	display:block;
	position:relative;
	top:50%;
	left:50%;
	width:12px;
	height:15px;
	margin-left:-6px;
	margin-top:-7px;
}

/* player next */
#componentWrapper .controls_next{
	position:relative;
	width:25px;
	height:26px;
	float:left;
	margin-right:12px;
}


/* player download */
#componentWrapper .player_download{
	position:relative;
	width:25px;
	height:26px;
	float:right;
	display:none;
}


/* player shuffle */
#componentWrapper .player_shuffle{
	position:relative;
	width:25px;
	height:26px;
	float:right;
	margin-left:8px;
}


/* player loop */
#componentWrapper .player_loop{
	position:relative;
	width:25px;
	height:26px;
	float:right;
	margin-left:8px;
	margin-right:20px;
}




#componentWrapper .player_volume{
	position:relative;
	height:32px;
	width:22px;
	right:95px;
	top:0px;
	float:right;
}

#componentWrapper .player_volume img{
	display:block;
	position:relative;
	width:18px;
	height:16px;
	top:50%;
	margin-top:-8px;
	left:50%;
	margin-left:-9px;
}

/* player volume, serves as hit as well */
#componentWrapper .volume_seekbar{
	position:relative;
	right:-10px;
	top:0px;
	/* for hit */
	width:80px;
	height:32px;
	/*background:green;*/
	float:right;
}

#componentWrapper .volume_bg{
	position:absolute;
	top:12px;
	left:10px;
	width:60px;
	height:8px;
	background:#333333;
}

#componentWrapper .volume_level{
	position:absolute;
	top:12px;
	left:10px;
	width:60px;
	height:8px;
	background:#eeeeee;
}

#componentWrapper .player_volume_tooltip{
	position:relative;
	top:-22px;
	/* left is set in code */
	width:35px;
	height:16px;
	background:#333;
	display:none;
	text-align:center;
	
	-moz-box-shadow: 1px 1px 1px #222;
	-webkit-box-shadow: 1px 1px 1px #222;
	box-shadow: 1px 1px 1px #222;
}

#componentWrapper .player_volume_tooltip p {
    font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#ffffff;
	margin:0;
	line-height:16px;
}

/* player progress, serves as hit as well */
#componentWrapper .player_progress{
	position:relative;
	top:0px;
	left:0px;
	
	width:100%;
	
	height:13px;
	background:green;
}

#componentWrapper .progress_bg{
	position:relative;
	background:#666;
	width:100%;
	top:0px;
	height:13px;
}

#componentWrapper .load_progress{
	position:absolute;
	background:#444;
	top:0px;
	height:13px;
}

#componentWrapper .play_progress{
	position:absolute;
	background:#eee;
	top:0px;
	height:13px;
}

#componentWrapper .player_progress_tooltip{
	position:relative;
	top:-35px;
	/* left is set in code */
	width:70px;
	height:16px;
	background:#333;
	display:none;
	text-align:center;
	
	-moz-box-shadow: 1px 1px 1px #222;
	-webkit-box-shadow: 1px 1px 1px #222;
	box-shadow: 1px 1px 1px #222;
}

#componentWrapper .player_progress_tooltip p {
    font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#ffffff;
	margin:0;
	line-height:16px;
}




/* playlist holder */	
#componentWrapper .playlistHolder{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:105px;
	
	background:#111;
	overflow:hidden;
	
	float:left;
	clear:left;
	
	/*-moz-box-shadow: 0px 5px 5px #111;
	-webkit-box-shadow: 0px 5px 5px #111;
	box-shadow: 0px 5px 5px #111;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#111111')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#111111');*/
}

#componentWrapper .componentPlaylist{
	position:relative;
	top:5px;
	left:0px;
	height:100px;
}

#componentWrapper .playlist_inner{
}



/* playlist items */	
#componentWrapper .playlistItem{
	position:relative;
	display:block;
	top:0px;
	left:0px;
	
	width:270px;
	height:80px;
	
	background: #222;
	margin-right:5px;
	float:left;
	
	color:#ffffff;
	font-family: Arial, Helvetica, sans-serif;
	
	padding:5px 0px 5px 10px;
	list-style:none;
	
	overflow:hidden;
}



/* playlist items */	
#componentWrapper .playlistItem .hap_thumb{
	display:block;
	position:relative;
	top:0px;
	left:0px;
	width:100px;
	height:70px;
	float:left;
	background:#111;
}

#componentWrapper .playlistItem .hap_thumb img{
	display:block;
	width:auto;
	height:100%;
	margin:0 auto;
}

#componentWrapper .playlistItem .hap_title{
	display:block;
	position:relative;
	top:5px;
	left:10px;
	width:150px;
	float:left;
	/*background:green;*/
	overflow:hidden;
}

#componentWrapper .playlistItem .hap_title p{
	font-size:15px;
}



#componentWrapper .playlistItem:nth-child(odd){
	
}

#componentWrapper .playlistItem:last-child {  
	margin-right:0px;
}

#componentWrapper .playlistItem a:hover{
	
}

#componentWrapper .playlistSelected {
	color: #C33;
}

#componentWrapper .playlistNonSelected {
	color: #ffffff;
}


/* playlist icons */
#componentWrapper .dlink {
	float:right;
}

#componentWrapper .dlink img{
	display:block;
}

#componentWrapper .plink {
	float:right;
}

#componentWrapper .plink img{
	display:block;
}

#componentWrapper .premove {
	float:right;
}

#componentWrapper .premove img{
	display:block;
}

/* preloader */
#componentWrapper .preloader{
	position:absolute;
	width:36px;
	height:30px;
	top:50%;
	left:50%;
	margin-left:-16px;
	margin-top:-15px;
	background: #111 url('../media/data/loading.gif') no-repeat center center; 
}



	 
		  
					  

/* public functions */	
#publicFunctions{
	position: absolute;
	height:500px;
	overflow-y: scroll;
	padding: 20px;
	background:#444;
	left:650px;
	top:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color:#fff;
	list-style:circle;
	display:none;
}

#publicFunctions li a{
	color:#fff;
}

#publicFunctions li a:hover, #publicFunctions li .current{
	text-decoration: underline;
}







