/*
 * SimpleModal Basic Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */

#basic-modal-content {display:none;}
#basic-modal-content_signup {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {
	height:450px; 
	width:600px; 
	background: #333 url(../img/lg_bg.png);
	padding: 10px; 
	border:4px solid #444; 
	padding:12px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-left: -325px;
}
#simplemodal-container .simplemodal-data {padding:8px;}

#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#f90;font-size:25px;margin-bottom:20px;text-align:center;}

.subhead{
	color:white;font-size:20px;margin-bottom:20px;text-align:center;width:100%;
	float:left;
}

.orange {
	color:#f90;
}


.modalbox .social{
	float:left;
	width:200px;
	margin-right:50px;
	padding:20px 0;
}

.modalbox .lbox{
	float:left;
	width:300px;
	border-left: 1px solid #444;
	padding:20px 0px 10px 20px;
}

.modalbox .lbox .row{
	float:left;
	width:100%;
	margin-bottom:15px;
}

.modalbox .lbox .wrong{
	display:none;
	float:left;
	width:100%;
	text-align:center;
	border:1px solid red;
	background:#ffc5c0;
	padding:5px 0;
	border-radius:5px;
	margin-bottom:10px;
	color:black;
	font-size:13px;
	font-weight:bold;

}

.modalbox .lbox label{
	font-size:14px;
}

.modalbox .lbox input[type='text'],.modalbox .lbox input[type='password']{
	width:200px;
	padding:5px;
	border:1px solid #777;
	border-radius:4px;
	font-size:15px;
}

.modalbox .text{
	font-size:13px;
}

.modalbox .text a{
	font-weight:bold;
	text-decoration: underline;
}

.modalbox .lbox input[type="submit"]{
	float: left;
	border: none;
	padding: 10px 20px;
background: #f90;
font-size: 16px;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
color: white;
text-shadow: 0px 0px 1px black;
-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}
