/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here   that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* Variables.less
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */
/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
.alert {
  background: #4d4d4d;
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  /*line-height: 17px;*/

  font-size: 12px;
}
.alert a,
.alert a:active,
.alert a:visited {
  color: #fff;
  font-weight: 500;
  text-decoration: underline;
}
.alert a:hover,
.alert a:active:hover,
.alert a:visited:hover {
  color: #fff;
}
.alert.error {
  background: #ff2e46;
}
.alert.success {
  background: #4bad00;
}
.alert.info {
  background: #2e9fff;
}
.alert.realtime {
  background: #ffc62e;
}
.alert-heading {
  color: inherit;
}
.alert li {
  font-weight: 700;
  line-height: 1.4em;
}
button.alert {
  width: 100%;
  display: block;
  text-align: center;
}
.close {
  color: #fff !important;
  text-decoration: none !important;
  float: right;
  font-weight: bold;
  color: white;
  display: block;
  font-size: 20px;
  opacity: 0.8;
  padding: 0 !important;
  background: none !important;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.alert .close {
  position: relative;
  top: -4px;
  right: -21px;
  line-height: 18px;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  background: #333 url(http://gbaam.com/assets/img/lg_bg.png);
}
.header {
  background: black;
  padding: 10px 30px;
}
.header .logo {
  width: 102px;
  height: 20px;
  text-indent: -9999em;
}
a {
  text-decoration: none;
  color: #288ce4;
  -webkit-transition: color linear 0.1s;
  -moz-transition: color linear 0.1s;
  -ms-transition: color linear 0.1s;
  -o-transition: color linear 0.1s;
  transition: color linear 0.1s;
  font-weight: 500;
}
a:hover {
  color: #1977ca;
}
.container {
  background: #fff;
  padding: 20px 30px;
}
.form-avatar {
  float: left;
  width: 125px;
}
.form-fieldset {
  float: left;
  margin-left: -125px;
  width: 100%;
}
.no-avatar .form-avatar {
  display: none;
}
.no-avatar .form-rows,
.no-avatar .form-fieldset {
  margin-left: inherit;
}
.form-rows {
  margin-left: 125px;
}
.form-row {
  margin: 0 0 18px;
  width: 100%;
}
.form-row label {
  font-size: 11px;
  color: #8e949c;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  line-height: 1;
  margin: 0 0 8px;
}
.form-row input {
  -webkit-transition: border-color 0.2s linear;
  -moz-transition: border-color 0.2s linear;
  -ms-transition: border-color 0.2s linear;
  -o-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  font-size: 16px;
  width: 100%;
  border: none;
  padding: 8px;
  border: 2px solid #cdd4d8;
  border-radius: 4px;
}
.form-row input:focus {
  border: 2px solid #b6bfc5;
  outline: none;
}
.form-row .forget-pw {
  color: #999;
  font-size: 11px;
}
.form-row .forget-pw:hover {
  color: #2e9fff;
}
.btn {
border: none;
padding: 10px 20px;
background: #f90;
font-size: 16px;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
color: white;
text-shadow: 0px 0px 1px black;
-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}
.btn:hover {
  background-color: #606d75;
  background-color: rgba(29,47,58,.7);
}
.btn:active,
.btn.active {
  background-color: #2e9fff;
}
.btn:visited {
  color: #555;
}
.btn.busy {
  background: #ebeef2;
  color: #bbb;
  text-shadow: none;
}
.btn.busy:hover {
  background: #ebeef2;
  text-shadow: none;
  cursor: not-allowed;
}
.btn.busy:active {
  background: #ebeef2;
  text-shadow: none;
  cursor: not-allowed;
}
.btn.small {
  font-size: 12px;
  padding: 8px 10px;
  background-position: 0 -10px;
}
.btn.small:hover {
  background-position: 0 -40px;
}
.btn.main {
  margin: 0 8px 0 0;
}
.pull-right {
  float: right;
}
p {
  margin-bottom: 1em;
}
strong {
  font-weight: bold;
}
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
#js-content {
  width: 100%;
  display: inline-block;
}

/*
 * Summary is one of the alert types.
 * Appears as black text on yellow background
 */
.alert p{
  margin:0;
  font-weight:bold;
}
.alert.summary {
  color: #353a3d;
  background: #ffc62e;
  box-shadow: none;
  text-shadow: none;
}
.alert.summary a:hover,
.alert.summary a {
  color: #353a3d;
}
.summary ul {
  list-style: disc;
  margin: 8px 0 0 16px;
}
.summary ul li {
  margin: 3px 0px;
}
.summary .link-label {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
}
.summary .hidden-check {
  display: none;
}
.summary .inner-details {
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.summary .inner-details li {
  line-height: 1.2;
  font-weight: 500;
  color: #666;
}
.summary input[type="checkbox"]:checked + div {
  height: auto;
}
.summary .note {
  margin-top: 5px;
}
.wrong{
  float:left;
width: 100%;
font-size: 20px;
text-align: center;
border-radius: 5px;
border-top: 1px solid red;
border-bottom: 1px solid red;
background: #ffc5c0 !important;
padding: 5px 0;
color: black;
font-size: 13px;
font-weight: bold;
}

.wrong p{
  float:left;
  width:100%;
  text-align:center;
}