
.settingsmenu{
	float:left;
	width:200px;
	border:1px solid #444;
	background: #333;
	padding:10px;
	box-shadow: 0px 0px 10px black;
	
	margin-top:50px;
	border-right:0;
	-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

	.settingsmenu ul{
		float:left;
		width:100%;
	}

		.settingsmenu li{
			float:left;
			width:100%;
			border-bottom:1px solid #444;
			padding-bottom:10px;
			margin-bottom:10px;
		}

		.settingsmenu li:last-child{
			margin:0;
			padding:0;
			border:0;
		}
	.settingsmenu .sel{
		color:#f90;
	}

.settingsbox{
	float:left;
	width:600px;
	border-radius:10px;
	border:1px solid #444;
	background: #333;
	padding:10px;
	box-shadow: 0px 0px 10px black;
}
	.settingsbox h1{
		float:left;
		width:100%;
		border-bottom:3px solid #444;
		padding-bottom:10px;
		margin-bottom:30px;
	}

		.settingsbox h1 .text{
			font-size:30px;
		}

	.settingsbox .row{
		float:left;
		width:100%;
		margin-bottom:25px;
	}
		.settingsbox .proimg{
			padding:2px;
			background:#222;
			box-shadow: 0px 0px 5px black;
			float:left;
			width:200px;
		}

		.settingsbox .box{
			float:left;
			margin-left:10px;
			width:200px;
		}
			.settingsbox .box li{
				float:left;
				width:100%;
				margin-bottom:25px;
				text-align: center;
			}

			.settingsbox .uploadphotobutton{
				padding:10px;
				text-align: center;
				background:#DDD;
				border:0;
				border-radius: 10px;
				width:100%;
				font-size:15px;
				font-weight:bold;
				cursor: pointer;
			}
			

			.settingsbox .box li.button{
				border-radius: 10px;
				padding:10px;
				margin-bottom:10px;
				width:90%;
				text-shadow:0px 0px 5px #222;
				cursor:pointer;
			}
		.settingsbox hr{
			border:0;
			border-top:1px solid #444;
			float:left;
			width:100%;
			margin-bottom:25px;
		}

		.settingsbox label, .row.check legend{
			text-align:right;
			width:150px;
			float:left;
			margin-right:20px;
			margin-top:7px;
		}

		.settingsbox .inptxt{
			padding: 5px;
			font-size: 15px;
			width: 300px;
			/*background: #fff url('../img/input_bg.gif') repeat-x 0 0;*/
			outline: 0;
			margin: 0;
			border:1px solid #111;
			box-shadow: 0px 0px 10px #222;
		}

		.settingsbox textarea.inptxt{
			height:100px;
		}

		.settingsbox .desc{
			float: right;
			width: 430px;
			margin-top: 5px;
			font-size: 14px;
		}
			.settingsbox .desc .good{
				color:#44f146;
			}

	.settingsbox .submit {
		border: 0;
		padding: 10px 20px;
		background: #f90;
		font-size: 16px;
		font-weight: bold;
		border-radius: 5px;
		cursor: pointer;
		color: white;
		text-shadow: 0px 0px 1px black;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
	}


	.settingsbox .statusbox{
		float:left;
		width:596px;
		text-align: center;
		margin-top:-10px;
		padding:10px 0;
		margin-bottom:20px;
		border-radius:10px;
		font-size:14px;
		color:#333;
		font-weight:bold;

	}
	.row.check{
		margin-bottom:0;
	}
	.row.check .cont{
		float:left;
		width:420px;
	}

		.row.check legend{
			margin-top:0;
		}

		.row.check div{
			width:100%;
			float:left;
			margin-bottom:10px;
		}
		.row.check .jscheck{
			float:left;
			margin:0;
			padding:0;
			margin-top: 3px;
			margin-right: 5px;
			cursor:pointer;
		}

		.row.check label{
			float:left;
			width:300px;
			font-size:14px;
			text-align:left;
			margin-top:2px;
			cursor:pointer;
			-webkit-touch-callout: none;
		    -webkit-user-select: none;
		    -khtml-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		}

	.error{
		background: #FFD1D3;
		border: 1px solid #BD7575;
	}

	.success{
		border: 1px solid rgb(140, 189, 117);
		background: rgb(227, 255, 209);
	}

	.bad{
		color:#f15f59;
	}

	.js_remove_profilepic{
		cursor:pointer;
		font-size: 14px;
	}

		.js_remove_profilepic:hover{
			color:#f90;
		}







