
html { 
	height: 100%;  
}
 
body {
	background: url(../img/GbaamBackground.jpg) center top fixed #000 no-repeat;
	color: white;
	font-size:16px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
	font-weight: normal;
	padding: 0;
	margin: 0;
	height: 100%;
	-webkit-font-smoothing: subpixel-antialiased; }
 
h1 { margin-bottom: 30px; }
 
a {
	text-decoration: none;
	color: white; }
 
	a:hover { color: #F90; }
 b{
 	font-weight:bold;
 }
p {
	margin: 0;
	padding: 0; }
 
img { border: 0; }
 
h1,h2,h3,h4,h5,h6 {
	/*font-family: arial, sans-serif;;*/
	margin: 0;
	padding: 0; }
 
ul {
	margin: 0;
	padding: 0; }
 
li {
	display: inline;
	list-style-type: none; }
i {
	font-style: italic;
}
textarea{
	font-family: arial;
	font-size:13px;
}

  
.shadow {
	-moz-box-shadow: 0px 0px 20px black;
	-webkit-box-shadow: 0px 0px 20px black;
	box-shadow: 0px 0px 20px black; }
 
.secndwrapper {
	float: left;
	width: 640px;
	margin-left:5px;
	}
 
.sixfortyheader {
	width: 640px;
	border-bottom: 1px solid #5C5C5C;
	font-size: 20px;
	padding-bottom: 3px;
	margin-bottom: 10px;
	float: left;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 1); }
 
input[type='text'],input[type='password'] { border: none; }
 
/**************************************************************************************************/
.cleanhead {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
	font-size: 24px;
	padding-bottom: 3px;
	margin-bottom: 10px;
	border-bottom: 1px solid #5C5C5C;
	width: 640px;
	float: left; }

.cleanhead_blk {
	background:black;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
	font-size: 18px;
	margin-top:10px;
	text-align:center;
	padding:10px;
	margin-bottom: 10px;
	width: 620px;

	float: left; }
 
#wrapper {
	margin: 0 auto 0 auto !important;
	width: 960px;


}
 
#logo {
	float: left;
	width: 270px;
	text-align: left;
	margin-top: 15px; }
 
	#logo img { width: 270px; }
 
#loginbox {
	float: right;
	width: 220px;
	background: #333 url(../img/lg_bg.png);
	padding: 10px;
	margin: 10px 0px 0px 0px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px; }
 
	#loginbox img {
		float: left;
		margin-right: 9px; }

#loginbox .area{
	font-size:14px;
}
	#loginbox .area .link{
		font-weight:bold;
	}
 
#nav {
	/*font-family: arial, sans-serif !important;*/
	float: left;
	width: 960px;
	margin: 5px 0px 0px 0px;
	/*background: url(../img/nav_bg.png);*/
	background:black;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 7px 0; }
 
	#nav a { color::#ea9902;text-shadow: 1px 2px 0px #222222 }
 
	#nav ul {
		float: left;
		width: 100%;
		text-transform: uppercase;
		display: block;
		text-align: center;
		 }
 
		#nav ul li {
			margin: 4px 23px 4px 0;
			display:inline-block; }
 
	#nav .selected { color: #F90;  }

#search_container{
	float: left;
	width: 324px;
	margin: 25px 0px 0px 35px;
}

#search {
	float: left;
	width: 324px;
	padding: 10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px; }
 
	#search input[type="text"] {
		float: left;
		color: #666666;
		background:white;
		width: 270px;
		padding: 3px 0 3px 5px;
		font-size: 18px;
		margin:0;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
 
	#search input[type="submit"] {
		float: left;
		border: none;
		padding: 3px;
		color: white;
		background: #F90;
		margin:0;
		background:#f90  url('../img/mg.png') no-repeat;
		background-size:20px 20px;
		background-position:center; 
		cursor:pointer;
		width:26px;
		height:27px;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
 
#slider {
	float: left;
	height: 330px;
	background: #333333;
	margin-bottom: 10px;
	position: relative; }
 
#middle{
	float:left;
	width: 940px;
	padding:10px;
	background:#333333;
	margin-bottom:10px;
}

	#middle .left{
		float:left;
		width:600px;
		margin-right:10px;
	}

		#middle .art{
			float:left;
			width:100%;
			font-size:13px;
			margin-top:10px;
		}

		#middle .art li{
			float:left;
			width:200px;
		}
			#middle .art li img{
				float:left;
				width:50px;
				height:50px;
				margin-right:5px;
			}
			#middle .art li .title{
				float:left;
				width:130px;
				margin-bottom:10px;
				font-size:14px;
			}
			#middle .art li .date{
				float:left;
				width:130px;
			}

	#middle .right{
		float:right;
		width:300px;
		border-left:1px solid black;
		font-size:14px;
	}

	#middle .links{
		float:left;
		width:100%;
	}
		#middle .links li{
			float:left;
			text-align:center;
			width:100%;
			padding:2px 0;
		}
 
#midway {
	float: left;
	width: 960px; }
 
	#midway h2 {
		float: left;
		width: 950px;
		padding-bottom: 5px;
		margin-bottom: 10px;
		border-bottom: 1px solid #CCC;
		font-size: 22px; }
 
#videothumbs {
	/*
	float: left;
	width: 950px;
	margin: 0 25px 10px 25px;
	*/

	display: inline-block;
	text-align: center;
	width: 950px;
	margin:0 auto;

	 }
 
	#videothumbs li {
		/*float: left;
		width: 180px;
		display: block;
		text-align: center;*/
	width:180px;
		display: inline-block;
		text-align: center;
		
		 }
 
		#videothumbs li a { /* font-weight:bold; */ }
 
	#videothumbs img {
		width: 150px;
		margin-bottom: 5px; }
 
#midway .viewalink {
	float: left;
	width: 895px;
	text-align: center;
	background: blue;
	margin-left: 25px;
	padding: 6px 0px;
	margin-top:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 24px;
	background: #FA8200;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
	color: white; }
 
	#midway .viewalink:hover { background: #FF6600; }
 
.rightside {
	float: right;
	width: 280px;
	border-radius:5px;
	padding-bottom:2px;
	background: #FA8200; /* Old browsers */
	
	background: -moz-linear-gradient(top, #FA8200 2%, #000000 69%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#FA8200), color-stop(69%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FA8200 2%,#000000 69%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FA8200 2%,#000000 69%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FA8200 2%,#000000 69%); /* IE10+ */
	background: linear-gradient(top, #FA8200 2%,#000000 69%); /* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FA8200', endColorstr='#000000',GradientType=0 ); /* IE6-8 */ 
	box-shadow: 0px 0px 10px black;}
 
.rightside { height: 100%; }
 
	.rightside iframe {
		float: left;
		margin: 0 5px;
		background: white; }
 
	.rightside script {
		float: left;
		margin: 0 5px; }
 
	.rightside .fb {
		float: left;
		width: 290px;
		margin: 0 5px; /*-moz-opacity: 0.2;
-khtml-opacity: 0.58;
opacity: 0.58;
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=58);
filter:alpha(opacity=58);background:white;*/ }
 
/****************************************************************************************************************************************/
.vidmain {
	float: left;
	width: 940px;
	background: #222222;
	padding:10px; }
 
	.vidmain #video {
		float: left;
		width: 650px; }
 
	.vidmain #disqus_thread {
		float: left;
		width: 640px; }
 
	.vidmain h2 {
		float: left;
		width: 650px;
		margin-bottom: 5px;
		border-bottom: 1px solid #5C5C5C;
		padding-bottom: 5px;
		font-size: 22px; }
 
	.vidmain .left { float: left; }
 
#video h2, #video h1 { margin-bottom: 5px; }
 
.vidmain .viewalink {
	float: left;
	width: 636px;
	text-align: center;
	background: blue;
	padding: 6px 0px;
	margin-top:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 24px;
	background: #FA8200;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
	color: white; }
 
	.vidmain .viewalink:hover { background: #FF6600 }
 
.vidmain .letter {
	text-align: center;
	float: left;
	width: 650px;
	margin-bottom: 5px;
	border-bottom: 3px solid #FFF;
	padding-bottom: 5px;
	font-size: 40px; }
 
#alp_cont {
	float: left;
	width: 640px; }
 
.alphabet {
	height: 20px;
	clear: both;
	position: relative;
	color: #fff;
	background: #DC7E01;
	float: left;
	clear: both;
	padding: 5px 5px 5px 10px;
	margin-top: 10px;
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: 10px; }
 
	.alphabet:before {
		content: " ";
		background: url(../img/ribbon.png);
		display: block;
		width: 10px;
		height: 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		margin-bottom: -10px;
		z-index: -1; }
 
	.alphabet a { padding: 0 9px 0 10px; }
 
		.alphabet a:hover {  }
 
.vidmain #artistlist {
	float: left;
	width: 640px; }
 
.embedbutton {
	margin-top: 3px;
	padding: 10px;
	font-weight: 15px;
	float: right;
	width: 85px;
	border: 1px solid #5c5c5c;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	text-align: center;
	-webkit-border-radius: 5px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
	color: white;
	background: #ffaf4b; /* Old browsers */
	background: -moz-linear-gradient(top, #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* IE10+ */
	background: linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
	text-shadow: 0 1px 0 #222;
	border: 1px solid #F90; }
 
	.embedbutton:hover { color: white; }
 
#artistlist li {
	float: left;
	width: 640px;
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #5C5C5C; }
 
	#artistlist li:first-child { padding-top: 0px; }
 
	#artistlist li img {
		float: left;
		width: 50px;
		height: 60px;
		margin-right: 7px; }
 
	#artistlist li .name {
		float: left;
		/* font-weight:bold; */
		margin: 3px 0 0 3px;
		width: 400px; }
 
	#artistlist li .genre {
		float: left;
		width: 400px;
		color: #DBDBDB;
		margin: 3px 0 0 3px; }
 
	#artistlist li .rclabel {
		float: left;
		width: 400px;
		/* font-weight:bold; */
		font-size: 12px;
		margin: 3px 0 0 3px; }
 
#GbaamTVlist {
	float: left;
	width: 640px; }
 
	#GbaamTVlist li {
		float: left;
		width: 640px;
		display: block;
		padding: 10px 0;
		border-bottom: 1px solid #5C5C5C }
 
		#GbaamTVlist li:first-child { padding-top: 0px; }
 
		#GbaamTVlist li img {
			float: left;
			margin-right: 7px; }
 
		#GbaamTVlist li .name {
			float: left;
			/* font-weight:bold; */
			margin: 3px 0 0 3px;
			width: 510px;
			line-height: 1.2em;
			color: #f90;
		}
 
		#GbaamTVlist li .desc {
			float: left;
			width: 400px;
			color: #DBDBDB;
			margin: 10px 0 0 3px;
			font-size: 12px;
			text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
			line-height: 1.3em; }
 
		#GbaamTVlist li .rclabel {
			float: left;
			width: 400px;
			/* font-weight:bold; */
			font-size: 12px;
			margin: 3px 0 0 3px; }
 
#searchlist {
	float: left;
	width: 640px; }
 
	#searchlist li {
		float: left;
		width: 640px;
		display: block;
		padding: 10px 0;
		border-bottom: 1px solid #404040; }
 
		#searchlist li:first-child { padding-top: 0px; }
 
		#searchlist li img {
			float: left;
			margin-right: 7px;
			width: 90px; }
 
		#searchlist li .name {
			float: left;
			/* font-weight:bold; */
			margin: 3px 0 0 3px;
			width: 540px;
			line-height: 1.2em;
			color:#f90;
		}
 
		#searchlist li .desc {
			float: left;
			width: 400px;
			color: #DBDBDB;
			margin: 10px 0 0 3px;
			font-size: 12px;
			text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
			line-height: 1.3em;
		}
 
		#searchlist li .rclabel {
			float: left;
			width: 400px;
			/* font-weight:bold; */
			font-size: 12px;
			margin: 3px 0 0 3px; }

		#searchlist li:last-child{
			margin-bottom:20px;

		}

		#searchlist .moreresults a:hover{
			color:white !important;
		}
 
#artistpage {
	float: left;
	width: 640px;
	margin-top: 5px; }
 
	#artistpage .aimg {
		float: left;
		margin-bottom: 5px; }
 
	#artistpage .bio {
		float: left;
		width: 360px;
		font-size: 13px;
		margin-left: 10px;
		text-shadow: 0px -1px 0px #000000;
		line-height: 20px;
		color: #F2F2F2;
		overflow: auto;
		height: 245px;
		padding: 10px; }
 
	#artistpage .atitle {
		float: right;
		width: 380px;
		border-bottom: 1px solid #5C5C5C;
		font-size: 24px;
		padding-bottom: 3px;
		margin-bottom: 3px; }
 
	#artistpage .smaller { font-size: 22px; }
 
	#artistpage .tracktitle {
		float: left;
		width: 640px;
		margin-bottom: 3px;
		font-size: 12px; }
 
	#artistpage iframe {
		float: left;
		margin-bottom: 10px; }
 
	#artistpage .disc {
		float: left;
		width: 640px; }
 
		#artistpage .disc li {
			float: left;
			width: 630px;
			font-size: 13px;
			margin-left: 10px; }
 
#othervids {
	float: right;
	width: 280px;
	display: block; }
 
	#othervids li {
		display: block;
		float: left;
		width: 280px;
		padding-bottom: 10px; }
 
		#othervids li:last-child { padding-bottom: none; }
 
	#othervids img {
		float: left;
		width: 140px;
		height: 113px; }
 
	#othervids .vidname {
		display: block;
		float: right;
		font-size: 12px;
		/* font-weight:bold; */
		width: 130px;
		text-align: center;
		margin-top: 34px;
		margin-left: 10px;
		border-bottom: 1px solid #5C5C5C;
		border-top: 1px solid #5C5C5C;
		padding: 5px 0; }
 
.onethird {
	float: left;
	width: 200px;
	margin-right: 13px;
	display: block; }
 
	.onethird .aimg { width: 150px; }
 
	.onethird li {
		float: left;
		width: 100%;
		margin-bottom: 20px;
		text-align: center; }
 
	.onethird .title {
		background: #845600;
		float: left;
		width: 150px;
		font-size: 13px;
		padding: 3px 0px;
		margin: 0 0px 0 25px;
		/* font-weight:bold; */ }
 
	.onethird .artistname {
		display: block;
		float: left;
		font-size: 12px;
		/* font-weight:bold; */
		width: 150px;
		text-align: center;
		margin: 0 0px 0 26px;
		border-bottom: 1px solid #5C5C5C;
		border-top: 1px solid #5C5C5C;
		padding: 5px 0; }
 
#featuredpg {
	float: left;
	width: 640px;
	font-size: 13px; }


 
	#featuredpg .aimg {
		float: left;
		width: 150px;
		margin-right: 10px; }
 
	#featuredpg .storytitle {
		float: right;
		width: 480px;
		font-size: 20px; }
 
	#featuredpg p {
		float: right;
		width: 480px;
		font-size: 13px; }
 
	#featuredpg h2 {
		float: left;
		margin-bottom: 20px; }
 
	#featuredpg .storytitle {
		margin-bottom: 5px;
		padding-bottom: 10px;
		border-bottom: 1px solid #5C5C5C; }

		#featuredpg .storytitle .title{
			float:left;
			width:100%;
			margin-bottom:5px;
			line-height: 1.2em;
		}

		.edbody{
			float:right;
			width:480px;
			font-size:15px !important;
			color:#ddd !important;
			line-height:1.2em !important;
			margin-bottom:30px;
		}

		.edbody.home{
			margin-bottom:0 !important;
		}

		.edbody a{
			color:#f90;
		}

		.edbody b, .edbody strong{
			font-weight:bold !important;
		}

		.edbody h3{font-size:18px;display:normal; }



#featuredpg_full {
	float: left;
	width: 640px;
	font-size: 13px; }

	#featuredpg_full .crop{
		width: 640px;
    	height: 360px;
    	overflow: hidden;
    	margin-bottom:10px;
	}
 
 	#featuredpg_full .imgholder{
		display: block;
		width: 640px;
    	height: 360px;
	    overflow: hidden;
	    position: relative;
	     margin-bottom:20px; 


	}

	#featuredpg_full .aimg {
		/*float: left;
		width:640px;

		margin-right: 10px;
		margin-bottom:20px; 

		 position:absolute;*/
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    width: auto;
    height: auto;




    /*
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
     */
	}


 
	#featuredpg_full .storytitle {
		float: left;
		width: 640px;
		font-size: 30px; 
		margin-bottom: 5px;
		padding-bottom: 10px;}
 
	#featuredpg_full p {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		float: left;
		width: 100%;
		word-break: break-word;
		line-height: 24px;
		color:white;
		letter-spacing: normal;
		/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;*/
		font-size: 14px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
	}
		#featuredpg_full p img{
			max-width:620px;
		}

	#featuredpg_full .soci_actions{
		width:640px;
		margin-bottom:20px;
		height:20px;
		border:0;
		background: #111;
		padding: 7px 0;
		border-radius: 10px;
	}
 
	#featuredpg_full h2 {
		float: left;
		margin-bottom: 20px; }


		#featuredpg_full .storytitle .title{
			float:left;
			width:100%;
			margin-bottom:5px;
			line-height: 1.2em;
		}

		#featuredpg_full .edbody{
			float:right;
			/*width:640px;*/

			width:620px;
			padding: 10px;
			background: #151515;

			font-size:15px !important;
			color:#ddd !important;
			line-height:1.2em !important;
			margin-bottom:30px;
		}

		#featuredpg_full .edbody.home{
			margin-bottom:0 !important;
		}

		#featuredpg_full .edbody a{
			color:#f90;
		}

		#featuredpg_full .edbody b, #featuredpg_full .edbody strong{
			font-weight:bold !important;
		}

		#featuredpg_full .edbody h3{font-size:18px;display:normal; }

 
.divider {
	float: left;
	width: 930px;
	padding: 0;
	margin: 10px 0 10px 0; }
 
#featmixtapes { float: left; }
 
	#featmixtapes li {
		float: left;
		margin: 10px 8px 0px 8px;
		display: block;
		width: 180px;
		text-align: center;
		padding: 8px;
		border-radius: 5px;
		-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
-moz-box-shadow:    0px 0px 4px rgba(0, 0, 0, 1);
box-shadow:         0px 0px 4px rgba(0, 0, 0, 1);
		background: #3a2600; /* Old browsers */
		background: -moz-linear-gradient(top, #3a2600 48%, #845600 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#3a2600), color-stop(100%,#845600)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #3a2600 48%,#845600 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #3a2600 48%,#845600 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #3a2600 48%,#845600 100%); /* IE10+ */
		background: linear-gradient(top, #3a2600 48%,#845600 100%); /* W3C */
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3a2600', endColorstr='#845600',GradientType=0 ); /* IE6-9 */ }
 
		#featmixtapes li img {
			float: left;
			width: 180px;
			margin-bottom: 3px; }
 
	#featmixtapes .title {
		/* font-weight:bold; */}
 
	#featmixtapes .artistname { display:block;font-size:14px; }
 
	#featmixtapes .rating { font-size: 13px; }
 
#latestmtlist {
	float: left;
	width: 640px;
	padding-bottom: 15px; }
 	
 	#latestmtlist li a{
 		color:#f90;
 		font-weight:bold;
 	}
	#latestmtlist li {
		float: left;
		margin: 10px 6px 0px 6px;
		display: block;
		width: 127px;
		height: 220px;
		text-align: center;
		padding: 10px;
		background: #555;
color: white;
		border-radius: 5px;
		-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
-moz-box-shadow:    0px 0px 4px rgba(0, 0, 0, 1);
box-shadow:         0px 0px 4px rgba(0, 0, 0, 1);
		 }
 
		#latestmtlist li img {
			float: left;
			width: 125px;
			margin-bottom: 3px; }
 
	#latestmtlist .mtitle {
		font-size:14px;
		/* font-weight:bold; */
		display: block; }
 
	#latestmtlist .maname {
		display: block;
		/* font-weight:bold; */
		font-size: 13px; }
 
	#latestmtlist .rating {float:left;width:100%; font-size: 13px; margin-top:10px;margin-bottom:4px;}

	#latestmtlist .views{
		font-size:13px;
	}
 
.pagination {
	margin-top: 10px;
	width: 620px;
	/* font-weight:bold; */
	font-size: 12px;
	text-align: center; }
 
	.pagination a {
		padding: 5px 8px;
		margin-right: 10px;
		border: 1px solid #8e4413;
		display: inline-block;
		text-shadow: 0px 0px 2px black;
		border-radius: 5px; }
 
		.pagination a.sel {
			background: #ffa84c;
			background: -moz-linear-gradient(top, #ffa84c 6%, #ff7b0d 86%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#ffa84c), color-stop(86%,#ff7b0d));
			background: -webkit-linear-gradient(top, #ffa84c 6%,#ff7b0d 86%);
			background: -o-linear-gradient(top, #ffa84c 6%,#ff7b0d 86%);
			background: -ms-linear-gradient(top, #ffa84c 6%,#ff7b0d 86%);
			background: linear-gradient(to bottom, #ffa84c 6%,#ff7b0d 86%);
			filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); }
 
.pagination2 {
	margin-top: 10px;
	width: 620px;
	/* font-weight:bold; */
	font-size: 12px;
	text-align: center; }
 
	.pagination2 a, .pagination2 strong {
		padding: 5px 8px;
		margin-right: 10px;
		border: 1px solid #8e4413;
		display: inline-block;
		text-shadow: 0px 0px 2px black;
		border-radius: 5px; }
 
		.pagination2 strong {
			background: #ffa84c;
			background: -moz-linear-gradient(top, #ffa84c 6%, #ff7b0d 86%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#ffa84c), color-stop(86%,#ff7b0d));
			background: -webkit-linear-gradient(top, #ffa84c 6%,#ff7b0d 86%);
			background: -o-linear-gradient(top, #ffa84c 6%,#ff7b0d 86%);
			background: -ms-linear-gradient(top, #ffa84c 6%,#ff7b0d 86%);
			background: linear-gradient(to bottom, #ffa84c 6%,#ff7b0d 86%);
			filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); }
 

#mixtapetwo {
	float: left;
	width: 640px;
	margin-top: 15px; }
 
	#mixtapetwo .mxcover {
		float: left;
		/*width: 200px;
		height: 186px;*/
		width: 186px;
height: 186px;
 }
 
	#mixtapetwo .mxtitle {
		float: right;
		width: 430px;
		font-size: 24px;
		border-top: 1px solid #5C5C5C;
		padding-top: 3px;
		text-align: right;
		text-shadow: 0px -1px 0px rgba(0, 0, 0, 1); }
 
	#mixtapetwo .mxdesc {
		float: right;
		width: 430px;
		font-size: 13px;
		padding-bottom: 4px;
		margin-bottom: 4px;
		height: 117px; }

		
	#mixtapetwo .mxrating {
		float: left;
		font-size: 15px;
		width: 200px; }
 
		#mixtapetwo .mxrating b { font-size: 15px; /*color:#F90;*/ }
 
#mixtapetwo2 {
	float: left;
	width: 620px;
	padding: 10px;
	background: #424242;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
-moz-box-shadow:    0px 0px 4px rgba(0, 0, 0, 1);
box-shadow:         0px 0px 4px rgba(0, 0, 0, 1);
	 }
 
	#mixtapetwo2 .mxcover {
		float: left;
		width: 186px;
		height: 186px; }
 
	#mixtapetwo2 .mxtitle {
		float: right;
		width: 425px;
		font-size: 24px;
		text-align: left;
		color:white;
		border-bottom: 1px solid #5C5C5C;
		margin-bottom: 5px; }
 
	#mixtapetwo2 .mxdesc {
		float: right;
		width: 425px;
		font-size: 13px;
		color: #eee !important;
		line-height: 17px;
		padding-bottom: 4px;
		word-wrap: break-word; }

		#mixtapetwo2 .mxdesc a{
			color:#F90;
		}
 
	#mixtapetwo2 .mxrating {
		float: left;
		font-size: 15px;
		width: 200px; }
 
		#mixtapetwo2 .mxrating b { font-size: 15px; /*color:#F90;*/ }
 
.addthis_default_style {
	float: right;
	width: 140px;
	margin-right: 2px; }
 
#item {
	float: left;
	width: 640px;
	margin-top: 15px; }
 
	#item .image {
		float: left;
		width: 230px; }
 
	#item .mxtitle {
		float: right;
		width: 400px;
		font-size: 24px;
		border-top: 1px solid #5C5C5C;
		border-bottom: 1px solid #5C5C5C;
		padding-top: 3px;
		text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
		margin-bottom: 10px; }
 
	#item .quan {
		margin-left: 50px;
		font-size: 15px;
		padding-top: 15px;
		text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
		margin-bottom: 10px; }
 
	#item .mxdesc {
		float: right;
		width: 400px;
		font-size: 13px;
		padding-bottom: 4px;
		margin-bottom: 4px; }
 
	#item .mxrating {
		float: left;
		font-size: 15px;
		width: 200px; }
 
		#item .mxrating b {
			font-size: 15px;
			color: #F90; }
 
	#item .btn {
		float: right;
		font-size: 20px;
		border: 1px solid #5c5c5c;
		-moz-border-radius: 3px;
		-khtml-border-radius: 3px;
		text-align: center;
		-webkit-border-radius: 3px;
		text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
		color: white;
		background: #ffaf4b; /* Old browsers */
		background: -moz-linear-gradient(top, #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* IE10+ */
		background: linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* W3C */
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
		text-shadow: 0 1px 0 #222;
		border: 1px solid #F90;
		padding: 3px 7px;
		margin-bottom: 3px; }
 
#gtvvids {
	float: left;
	width: 640px; }
 
	#gtvvids a {
		float: left;
		color: #CCC;
		background: black;
		height: 120px; }
 
	#gtvvids li {
		float: left;
		display: block;
		width: 150px;
		text-align: center;
		margin: 0 5px 10px 5px;
		font-size: 13px;
		height: 120px; }
 
		#gtvvids li img {
			height: 85px;
			width: 150px;
			background: black;
			margin-bottom: 2px;
			margin-top: 15px; }
 
	#gtvvids iframe {
		float: left;
		width: 640px; }

		.gtvfeat {
			min-height:270px;
		}

.gtvinfobox{
	float:left;
	width:638px;
	box-shadow:0px 0px 10px black;
	margin-bottom:20px;
	border-radius: 10px;
	border:1px solid #333;
}

.gggtitle {
	float: left;
	width: 618px ;
	text-align: left;
	padding: 10px;
	font-size: 20px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
	/*background:#FA8200;*/
	background:black;
	-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.gtvdescbox{
	float:left;width:618px;padding:10px 10px;font-size:13px;background: #282828; 
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
	color:#ddd;
	line-height: 17px;
	-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}	

.gtvdescbox a {
	color:#f90;
}

 

 
.gtvdesc {
	float: left;
	width: 620px;
	font-size: 13px; }
 
.gtvtabs {
	float: left;}
 
	.gtvtabs a {
		font-size: 13px;
		width: auto;
		padding: 5px 17px !important; 
		cursor:pointer;
	}
 
	.gtvtabs .tabsel {
		color: #f90;
		text-shadow: 0px 0px 2px black; }
 
#radiostations {
	float: left;
	width: 640px; }
 
	#radiostations .lvlone {
		float: left;
		width: 200px;
		display: block;
		margin: 0 6px;
		background: #000000;
		padding-bottom: 10px;
		color: #E0E0E0; /* Old browsers */
		background: #424242; /* Old browsers */
		background: url(data: image/svg+xml; /* IE9 SVG, needs conditional override of 'filter' to 'none' */
		base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiM0MjQyNDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTYxNjE2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
		background: -moz-linear-gradient(top, #424242 48%, #161616 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#424242), color-stop(100%,#161616)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #424242 48%,#161616 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #424242 48%,#161616 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #424242 48%,#161616 100%); /* IE10+ */
		background: linear-gradient(top, #424242 48%,#161616 100%); /* W3C */
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#161616',GradientType=0 ); /* IE6-8 */
		text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
		-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
		-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 1); }
 
	#radiostations .radioname {
		float: left;
		width: 200px;
		background: #845600;
		text-align: center;
		padding: 5px 0;
		margin-bottom: 5px; }
 
	#radiostations ul { float: left; }
 
		#radiostations ul li {
			float: left;
			font-size: 13px;
			display: block;
			width: 200px;
			padding-bottom: 5px;
			text-align: center; }
 
#videoscroll {
	float: right;
	width: 266px;
	margin-top: 10px;
	overflow: auto;
	border: 2px solid #555;
	background: url(../img/vscroll_bg.png) repeat;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 0px 0px 10px black;
}
 
	#videoscroll ul {
		float: left;
		width: 100%;
		padding-top: 2px; }
 
	#videoscroll li {
		display: block;
		float: left;
		width: 100%;
		margin-bottom: 5px;
		padding-bottom: 5px;
		border-bottom: 1px dotted #666666;
		font-size: 13px; }
 
	#videoscroll .img { float: left; }
 
		#videoscroll .img img {
			width: 107px;
			margin-right: 10px; 
		}
 
	#videoscroll .title {
		float: left;
		display: block;
		width: 140px;
		margin: 5px 0px 2px 0;
		/* font-weight:bold; */ }
 
	#videoscroll .title2 {
		float: left;
		display: block;
		width: 140px;
		/* font-weight:bold; */
		margin: 2px 0px 3px 0; }
 
	#videoscroll .nd {
		float: left;
		display: block;
		width: 140px;
		font-size: 11px; }
 
	#videoscroll .thedate {
		float: left;
		width: 100%;
		text-align: center;
		font-size: 20px;
		padding-top: 5px;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
		border-bottom: 0;
		background: rgb(61,61,61); /*background:url(../img/vote_bg.png);*/
		background: -moz-linear-gradient(top, rgba(61,61,61,1) 0%, rgba(14,14,14,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,61,61,1)), color-stop(100%,rgba(14,14,14,1)));
		background: -webkit-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
		background: -o-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
		background: -ms-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
		background: linear-gradient(to bottom, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#0e0e0e',GradientType=0 ); }
 
#datepicker {
	float: right;
	margin-top: 10px; }
 
#vidright {
	float: right;
	width: 279px; }
 
#footer {
	float: left;
	width: 960px;
	border-top: 1px solid #999;
	margin-bottom: 10px;
	padding: 10px 0px 15px 0;
	text-align: center;
	font-size: 11px;
	background: #333333; 
	-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

#footer .selected{
	color:#f90;
}

 
#navbottom { margin-bottom: 10px; }
#navbottom li { padding:0 10px; }
/*****************************************************************************************************/
#disqus_thread li { display: list-item }
 
.jp-jplayer {
	float: left;
	width: 638px; }
 
/*****************************************************************************************************/
.mxvote {
	float: right;
	width: 410px; }
 
	.mxvote #vote { width: 410px; }
 
		.mxvote #vote li { width: 80px; }
 
#vote {
	float: left;
	width: 405px;
	padding: 0px 0;
	margin-top: 3px;
	background: #b2b2b2; /* Old browsers */
	background: url(data: image/svg+xml; /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IyYjJiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMzUzNTM1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzMlIiBzdG9wLWNvbG9yPSIjMzUzNTM1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE2MTYxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #b2b2b2 0%, #353535 1%, #353535 73%, #161616 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b2b2), color-stop(1%,#353535), color-stop(73%,#353535), color-stop(100%,#161616)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b2b2b2 0%,#353535 1%,#353535 73%,#161616 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b2b2b2 0%,#353535 1%,#353535 73%,#161616 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b2b2b2 0%,#353535 1%,#353535 73%,#161616 100%); /* IE10+ */
	background: linear-gradient(top, #b2b2b2 0%,#353535 1%,#353535 73%,#161616 100%); /* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#161616',GradientType=0 );
	font-size: 12px; /* IE6-8 */ }
 
	#vote li {
		font-size: 12px;
		width: 78px;
		float: left;
		display: block;
		text-align: center;
		/* font-weight:bold; */
		color: white;
		padding: 5px 0;
		border-right: 1px solid #111; }
 
	#vote img {
		margin: 0 auto;
		display: block; }
 
	#vote li:first-child { margin-left: 5px; }
 
	#vote li:last-child { border: 0; }
 
/*#vote li:hover{background:#F90;}*/
.hov { background: #F60; }

#mixtapetwo2 .hov { background: #F60; width: 96px !important; }
 
#vote a {  }
 
#vote span { display: block; }
 
#vote a:hover { color: white; }
 
.result {
	float: left;
	width: 620px;
	background: green;
	padding: 10px;
	margin: 0;
	font-size: 14px;
	display: none; }

.result_bad {
	float: left;
	width: 620px;
	color: black;
text-shadow: 0 1px 0 rgba(255,255,255,0.5);
background-color: #fcf8e3;
	padding: 10px;
	margin: 0;
	font-size: 14px;
	display: none; }
	.warningMessage
 {
 	float: left;
	width: 620px;
     color: #514721;
     border-color:#ffd324;
     background-color: #FEEFB3;
     padding: 10px;
	margin: 0;
	font-size: 14px;
	display: none; 
 }
 .warningMessage a, .warningMessage a:link, .warningMessage a:visited, .warningMessage a:active {color:#514721;text-decoration: underline;}
 

 .topMessage{
     color: #1b180b;
     border-color:#ffd324;
     background-color: #FEEFB3;
     padding: 10px 0;
     border-radius:8px;
     font-size:16px;
 }
#fivefeat {
	float: left;
	width: 650px;
	padding: 5px 0;
	border-radius:10px;
	padding-bottom: 5px;
	background: #b2b2b2; /* Old browsers */
	background: url(data: image/svg+xml; /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IyYjJiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMzUzNTM1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzMlIiBzdG9wLWNvbG9yPSIjMzUzNTM1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE2MTYxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #b2b2b2 0%, #353535 1%, #353535 73%, #161616 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b2b2), color-stop(1%,#353535), color-stop(73%,#353535), color-stop(100%,#161616)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b2b2b2 0%,#353535 1%,#353535 73%,#161616 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b2b2b2 0%,#353535 1%,#353535 73%,#161616 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b2b2b2 0%,#353535 1%,#353535 73%,#161616 100%); /* IE10+ */
	background: linear-gradient(top, #b2b2b2 0%,#353535 1%,#353535 73%,#161616 100%); /* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#161616',GradientType=0 );
	font-size: 12px; /* IE6-8 */ }
 
	#fivefeat ul {
		float: left;
		width: 640px; }
 
	#fivefeat li img { width: 100px; }
 
	#fivefeat li {
		padding-top: 10px;
		font-size: 12px;
		width: 126px;
		float: left;
		display: block;
		text-align: center;
		/* font-weight:bold; */
		color: white;
		padding-bottom: 5px; }
 
		#fivefeat li:first-child { margin-left: 5px; }
 
	#fivefeat .selected, #fivefeat li:hover {
		background: #ff9900; /* Old browsers */
		background: url(data: image/svg+xml; /* IE9 SVG, needs conditional override of 'filter' to 'none' */
		base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2ZmOTkwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzMwMTcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(top, #ff9900 2%, #301700 95%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#ff9900), color-stop(95%,#301700)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ff9900 2%,#301700 95%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ff9900 2%,#301700 95%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ff9900 2%,#301700 95%); /* IE10+ */
		background: linear-gradient(top, #ff9900 2%,#301700 95%); /* W3C */
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#301700',GradientType=0 ); /* IE6-8 */ }
 
	#fivefeat span { display: block; }
 
	#fivefeat a:hover { color: white; }
 
#vote2 {
	float: left;
	width: 405px;
	background: #b2b2b2;
	font-size: 15px; /* Old browsers */
	background: url(data: image/svg+xml; /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IyYjJiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMzUzNTM1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzMlIiBzdG9wLWNvbG9yPSIjMzUzNTM1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE2MTYxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #b2b2b2 0%, #353535 1%, #353535 73%, #161616 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b2b2), color-stop(1%,#353535), color-stop(73%,#353535), color-stop(100%,#161616)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b2b2b2 0%,#353535 1%,#353535 73%,#161616 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b2b2b2 0%,#353535 1%,#353535 73%,#161616 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b2b2b2 0%,#353535 1%,#353535 73%,#161616 100%); /* IE10+ */
	background: linear-gradient(top, #b2b2b2 0%,#353535 1%,#353535 73%,#161616 100%); /* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#161616',GradientType=0 );
	font-size: 12px; /* IE6-8 */ }
 
	#vote2 li {
		font-size: 12px;
		width: 78px;
		float: left;
		display: block;
		text-align: center;
		/* font-weight:bold; */
		color: white;
		padding: 1px 0px 3px 0px;
		;
		border-right: 1px solid #111; }
 
		#vote2 li:first-child { margin-left: 5px; }
 
		#vote2 li:last-child { border: 0; }
 
	#vote2 a {  }
 
	#vote2 span { display: block; }
 
	#vote2 a:hover { color: white; }
 
#vote .txt {
	float: left;
	width: 127px;
	display: block; }
 
.tab {
	float: left;
	width: 30%;
	padding: 10px 0px;
	font-size: 20px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid #000;
	text-align: center;
	color: #CCCCCC;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
	border-right: 1px solid #222222;
	margin-bottom: 10px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); }
 
.tabsel {
	background: #222222;
	border-bottom: none;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	color: white; }
 
#carthead {
	float: left;
	width: 620px;
	margin-bottom: 10px;
	background: black;
	padding: 10px;
	background: #ff9900; /* Old browsers */
	background: url(data: image/svg+xml; /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2ZmOTkwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg4JSIgc3RvcC1jb2xvcj0iIzMwMTcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #ff9900 2%, #301700 88%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#ff9900), color-stop(88%,#301700)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff9900 2%,#301700 88%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff9900 2%,#301700 88%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff9900 2%,#301700 88%); /* IE10+ */
	background: linear-gradient(top, #ff9900 2%,#301700 88%); /* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#301700',GradientType=0 ); /* IE6-8 */ }
 
.ratedgbaam {
	float: left;
	width: 104px;
	text-align: center;
	font-size: 20px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
	text-align: center;
	padding: 1px 0; }
 
#carthead span { float: left; }
 
#cartbody {
	float: left;
	width: 640px; }
 
	#cartbody img {
		float: left;
		width: 70px;
		margin-right: 10px; }
 
	#cartbody li {
		float: left;
		width: 640px;
		margin-bottom: 5px; }
 
		#cartbody li div {
			margin-top: 20px;
			text-align: center; }
 
	#cartbody .name {
		float: left;
		width: 200px;
		/* font-weight:bold; */ }
 
	#cartbody .size {
		float: left;
		width: 100px;
		text-align: center; }
 
	#cartbody .quantity {
		float: left;
		width: 50px;
		margin-top: 15px; }
 
		#cartbody .quantity input {
			width: 15px;
			text-align: center;
			padding: 5px; }
 
	#cartbody .price {
		float: left;
		width: 100px; }
 
	#cartbody .subtotal {
		float: left;
		width: 90px;
		/* font-weight:bold; */ }
 
.checkoutbt {
	float: right;
	margin-right: 20px;
	padding: 4px;
	font-size: 20px;
	border: none;
	/* font-weight:bold; */
	padding: 3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: white;
	background: #ffaf4b; /* Old browsers */
	background: -moz-linear-gradient(top, #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* IE10+ */
	background: linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
	text-shadow: 0 1px 0 #333;
	border: 1px solid #F90;
	margin-top: 10px; }
 
.gtotal {
	float: right;
	text-align: right;
	width: 620px;
	font-size: 24px;
	margin-right: 20px; }
 
.moreresults a {
	text-align: center;
	float: left;
	width: 100%;
	font-weight:bold;
	color:#f90; }
/*
	.moreresults a{
		float: left;
	width: 100%;
	text-align: center;
	padding: 6px 0px;
	margin-top:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #FA8200;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
	color: white;
	}*/
 
#gcback {
	float: left;
	width: 275px;
	padding: 5px;
	border: 2px solid #333;
	padding: 0px 0 4px 3px; }
 
#gcleft1 {
	float: left;
	width: 130px;
	display: block; }
 
	#gcleft1 li {
		float: left;
		background: url(../img/Gold-Plate-psd52638-sm.jpg) no-repeat;
		height: 45px;
		width: 126px;
		font-size: 15px;
		padding: 0px 0px;
		padding-top: 23px;
		margin-bottom: 5px;
		/* font-weight:bold; */
		text-align: center; }
 
	#gcleft1 a {
		float: left;
		text-align: center;
		width: 110px;
		margin-top: 0px;
		text-align: center;
		color: black;
		text-shadow: 0px 1px 1px rgba(197, 202, 202, 0.48);
		word-wrap: break-word;
		margin-left: 7px; }
 
		#gcleft1 a:hover { color: white; }
 
	#gcleft1 .selected { color: white; }
 
#gcleft2 {
	float: left;
	width: 140px;
	margin-left: 5px;
	display: block;
	overflow: auto;
	height: 360px; }
 
	#gcleft2 li {
		float: left;
		width: 120px;
		text-align: center;
		font-size: 12px;
		margin-bottom: 10px; }
 
	#gcleft2 img {
		float: left;
		width: 120px;
		display: block; }
 
.gclist {
	float: left;
	width: 275px;
	overflow: auto;
	height: 354px; }
 
	.gclist li {
		float: left;
		width: 255px; }
 
#gcback .sectitle {
	float: left;
	width: 275px;
	font-size: 20px;
	padding: 2px 5px;
	background: black;
	margin-bottom: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: none;
	color: white; }
 
#gcback .title{
	float:left;
	width:272px;
	text-align:center;
	font-size:20px;
	background:black;
	text-shadow:0px 1px 0px black;
	padding:5px 0px;
	margin-bottom:5px;
	margin-top:3px;

}
.gclist_place{
	float:left;
	width:272px;

}
	.gclist_place .li_first
	{
		float:left;
		width:100%;
		padding:5px 0;
		margin-bottom:5px;
		/*background-color:rgba(0,0,0,0.5);*/
		
		border:1px solid #00d700;
	}
	.gclist_place .first{
		color:#00d700;
	}
	.gclist_place .second{
		color:#a2d703;
	}
	.gclist_place .third{
		color:#d5d700;
	}
	.gclist_place .fourth{
		color:#d7b611;
	}
	.gclist_place .fifth{
		color:#d77624;
	}

	.gclist_place li{
		float:left;
		width:100%;
		padding:5px 0;
		background: url(../img/vscroll_bg_dark.png) repeat; 
		margin-bottom:5px;
		/*background-color:rgba(0,0,0,0.5);*/
	}

	.gclist_place .place{
		float:left;
		width:40px;
		display: table-cell; vertical-align: middle;
		text-align:center;
		margin-top:25px;
	}

	.gclist_place .img{
		float:left;
		max-width:100px;
	}


.gclist .section {
	float: left;
	width: 255px; }
 
	.gclist .section li {
		float: left;
		width: 255px;
		margin-bottom: 5px; }
 
		.gclist .section li img { float: left; }
 
		.gclist .section li .title {
			float: left;
			width: 120px;
			margin-left: 10px;
			font-size: 13px; }
 
.gbsmall {
	float: left;
	width: 250px;
	padding: 13px 0 0 15px; }
 
#mixmenu {
	float: left;
	width: 618px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #5c5c5c;
	border-radius: 10px;
	/*margin-top:10px;*/ }
 
	#mixmenu .bx {
		float: left;
		width: 140px;
		text-align: center;
		background: black;
		padding: 5px;
		border-right: 1px solid #5c5c5c; }
 
		#mixmenu .bx .name {
			float: left;
			display: block;
			width: 100%;
			font-size: 12px; }
 
		#mixmenu .bx .num {
			font-size: 23px;
			margin-bottom: 7px; }
 
	#mixmenu .dwnld {
		cursor:pointer;
		float: right;
		width: 160px;
		font-size: 24px;
		height: 34px;
		padding-top: 10px;
		background: #FF6600;
		text-align: center; }

		#mixmenu .dwnld:hover{
			color: #F90;
		}

		.dwnld button.downloadbutton{
			font-size: 24px;
			border:0;
			background:0;
			padding:0;
			margin:0;
			margin-top: 1px;
			color:white;
			cursor:pointer;
			outline:none;

		}

		.dwnld button.downloadbutton:hover{
			color: #F90;
		}
 
	#mixmenu #grating {
		float: left;
		width: 640px; }
 
.score1, .score2 { color: #ff0a00; }
 
.score3, .score4 { color: #ff9600; }
 
.score5 { color: #ffe100; }
 
.score6 { color: #defd00; }
 
.score7 { color: #9ced00; }
 
.score8 { color: #9ced00; }
 
.score9, .score10 { color: #48d300; }
 
.snail {
	margin-left: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	float: right;
	width: 640px;
	font-size: 13px;
	text-align: center;
	background: #424242; /* Old browsers */
	background: rgb(61,61,61); /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, rgba(61,61,61,1) 0%, rgba(14,14,14,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,61,61,1)), color-stop(100%,rgba(14,14,14,1)));
	background: -webkit-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
	background: -o-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
	background: -ms-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
	background: linear-gradient(to bottom, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#0e0e0e',GradientType=0 ); }
 
	.snail img {
		width: 120px;
		margin-bottom: 5px; }
 
	.snail li {
		float: left;
		width: 120px;
		margin-top: 5px;
		margin-left: 7px; }
 
.snailplace {
	float: right;
	width: 630px;
	background: #845600;
	text-align: center;
	padding: 5px 5px;
	margin-top: 5px;
	margin-bottom: 2px;
	font-size: 15px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
	margin-left: 5px;
	background: rgb(61,61,61);
	background: -moz-linear-gradient(top, rgba(61,61,61,1) 0%, rgba(14,14,14,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,61,61,1)), color-stop(100%,rgba(14,14,14,1)));
	background: -webkit-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
	background: -o-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
	background: -ms-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
	background: linear-gradient(to bottom, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#0e0e0e',GradientType=0 ); }
 
	.snailplace li {
		float: left;
		width: 120px;
		margin-left: 5px;
		font-size: 12px; }
 
.newchal_old {
	float: left;
	width: 342px;
	margin-top: 3px;
	margin-left: 20px;
	padding: 3px 0px;
	text-align: center;
	border: 2px solid #FF9900;
	background: #DC7E01;
	color: white;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; }

	.newchal {
		float:left;
		width:280px;
		margin-left:20px;
	padding: 3px 0px;
	text-align: center;
	background: #DC7E01;
	color: white;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; }
 
.leadertitle {
	float: right;
	width: 630px;
	text-align: center;
	background: #845600;
	padding: 0px 5px;
	margin-top: 5px;
	margin-bottom: 2px;
	font-size: 20px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
	margin-left: 5px;
	background: rgb(61,61,61);
	background: -moz-linear-gradient(top, rgba(61,61,61,1) 0%, rgba(14,14,14,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,61,61,1)), color-stop(100%,rgba(14,14,14,1)));
	background: -webkit-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
	background: -o-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
	background: -ms-linear-gradient(top, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
	background: linear-gradient(to bottom, rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#0e0e0e',GradientType=0 ); }
 
#editorial .story {
	float: left;
	width: 620px;
	padding: 10px;
	background: #333333;
	margin-bottom: 10px; }
 
#s_form {
	float: left;
	width: 620px; }
 
	#s_form .row {
		float: left;
		width: 620px;
		margin-bottom: 5px; }
 
	#s_form label {
		float: left;
		display: block;
		width: 150px;
		margin: 16px 5px 9px 10px;
		text-align: right;
		font-size: 15px;
		color: white;
		text-shadow: 0px 1px 2px #111111; }
 
	#s_form input[type='text'],#s_form input[type='password'] {
		float: left;
		display: block;
		padding: 7px;
		margin-top: 7px;
		font-size: 17px;
		width: 225px;
		height: 20px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #999;
		text-shadow: 0px 1px 0px #fff; }
 
	#s_form textarea {
		float: left;
		width: 420px;
		height: 100px;
		font-size: 17px;
		margin-top: 5px; }
 
	#s_form input[type='password'] { font-size: 20px; }
 
	#s_form .s_submit {
		/* font-weight:bold; */
		width: 170px;
		padding: 5px;
		font-size: 15px;
		margin: 15px 0px 5px 145px;
		padding: 5px 0px; }
 
#postbox {
	float: left;
	width: 640px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #5c5c5c; }

	#postbox .signin{
		float:left;
		width:620px;
		border:1px solid #ccc;
		background:#333;
		font-size:13px;
		padding:10px;
		height:40px;
		text-align:center;
	}

	#postbox div{
		float:left;width:100%;margin-top:10px;
	}

	#postbox .submit{
		float:right;
		margin-right:35px;
		display:none;
	}
 
	#postbox .img {
		float: left;
		width: 50px;
		margin-left: 35px; }
 
	#postbox textarea {
		float: left;
		width: 500px;
		margin: 0px 0px 0px 10px;
		padding: 4px;
		height: 40px; }
 
#comments {
	float: left;
	width: 630px;
	font-weight: normal; }

	#comments .no_comments{
		float:left;
		width:100%;
		color:#ccc;
		font-size:14px;
		text-align:center;
	}

	#comments .comment{
		float:left;
		width:630px;
		margin-bottom:10px;
		padding-bottom:10px;
		border-bottom:1px solid #333;
	}
 
	#comments .img {
		float: left;
		width: 50px;
		margin-right: 10px; }
 
	#comments .right {
		float: left;
		width: 500px; }
 
		#comments .right .name {
			float: left;
			width: 580px;
			margin-bottom: 5px;
			font-size: 14px; }

			#comments .right .name .nlink, #comments .right .time{
				float:left;
				width:auto;
				margin-right:5px;
			}


			#comments .right .time{
				margin-top:2px;
				color:#333;
			}

			.js_deletecomment{
				float:right;
				width:auto;
				cursor:pointer;
				font-size:12px;
			}



			#comments .right .name .nlink{
				/* font-weight:bold; */
				margin-right:10px;
				color:#F90;
			}

			#comments .right .name .time{
				font-size:12px;
				color:#ddd;
			}
 
		#comments .right .body {
			float: left;
			width: 500px;
			font-size: 14px; }

		#comments  .bottom{
			float:left;
			width:100%;
			margin-top:5px;
			font-size:12px;
			/* font-weight:bold; */

		}

		#comments .bottom a{
			color:#F90 !important;
		}

#heatcont{
	float:left;
	width:405px;
	background:url(http://gbaam.com/assets/img/heat.png); 
	height:5px;
}
	#heatcont img{
		float:left;width:405px;height:5px;
	}


#vidwrap{
	float:left;
	width:940px;
	padding:10px;
	background:#222222;
}

	#vidwrap h2, #vidwrap h1{
		float:left;
		width:100%;
		margin-bottom:10px;
		font-size:25px;
	}

	#vidwrap .left{
		float:left;
		width:650px;
	}
		#vidwrap .slots{
			/*
			float:left;
			margin-left:30px;
			margin-bottom:10px;
			*/
		
			width:630px;
			margin:0 auto 10px auto;
			display:inline-block;
			text-align: center;

			
			
		}

			#vidwrap .slots li{
				/*float:left;
				width:280px;
				margin-right:10px;*/
				padding:0 5px;
				width: 290px;
				display: inline-block;
				text-align: center;
				vertical-align: top;
			}

			#vidwrap .title{
				float:left;
				width:100%;
			}

			#vidwrap .slots .img{
				float:left;
				max-width:100%;
				margin-bottom:5px;
			}
			


			#five {
				float: left;
				width: 630px;
				margin-top: 3px;
				padding-bottom: 5px;
				margin-bottom:20px;


	
			}
			 
				#five ul {
					
					/*float: left;
					width: 640px; */

					display: inline-block;
					text-align: center;
					width: 630px;
					margin:0 auto;
					
				}
			 
				#five li img { max-width: 100%; margin-bottom:5px;}
			 
				#five li {
					/*
					float: left;
					width: 116px;
					display: block;
					text-align: center;*/

					padding-top: 10px;
					font-size: 12px;
					margin-right:6px;
					
					color: white;
					padding-bottom: 5px; 


					width:116px;
					vertical-align: top;
					display: inline-block;
					text-align: center;
				}
			 
			 
				#five span { display: block; }
			

	#vidfeed{
		/*float:left;
		width:100%;
		border: 2px solid #333;
		padding: 0px 0 4px 3px;*/
		float: left;
		border: 2px solid #444;
		width: 639px;
		border-radius: 10px;
		box-shadow: 0px 0px 10px black;
		padding: 0 3px;
		margin-bottom:10px;

	}

		#vidfeed li.thedate{
			float:left;
			width:100%;
			background: black;
			padding:-5px;
			margin-bottom:30px;
			margin-top:20px;
			text-align:center;
			
		}

			#vidfeed li .date{

				margin-left:0 auto;
				background:#f90;
				padding:5px 5px;
				-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
				-moz-box-shadow:    0px 0px 4px rgba(0, 0, 0, 1);
				box-shadow:         0px 0px 4px rgba(0, 0, 0, 1);
				border-radius:5px;
				font-size:20px;
			}

			#vidfeed li .date:hover{

				color:white;
				text-decoration: underline;
			}

		#vidfeed li.vid{
			float: left;
			width: 197px;
			height: 176px;
			margin-bottom: 10px;
			margin-right: 8px;
			margin-left: 8px;
			font-size: 13px;
		}
			#vidfeed li .title
			{
				text-align: center;
				font-size:15px;
				margin-bottom:7px;
				line-height:1.2em;
			}

			#vidfeed li.vid img{
				max-width: 100%;
				width:200px;
				height:112px;
				margin-bottom:4px;
			}

			#vidfeed li.vid .views{
				float:left;
				width:100%;
				text-align:center;
				font-size:12px;
			}

			

	#vidwrap .right{
		float:right;
		width:280px;
	}


	.challtitle{
		padding:4px 0px;float:left;width:640px;font-size:20px;text-align:center;text-shadow: -1px 0px 0px rgba(0, 0, 0, 1);margin-bottom:5px;/*background:url(../img/vote_bg.png);*/
background: rgb(61,61,61);
background: -moz-linear-gradient(top,  rgba(61,61,61,1) 0%, rgba(14,14,14,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,61,61,1)), color-stop(100%,rgba(14,14,14,1)));
background: -webkit-linear-gradient(top,  rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
background: -o-linear-gradient(top,  rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
background: -ms-linear-gradient(top,  rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
background: linear-gradient(to bottom,  rgba(61,61,61,1) 0%,rgba(14,14,14,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#0e0e0e',GradientType=0 );

	}
	.gcwrapper .head{
		float:left;
		width:100%;
		margin:20px 0 5px 0;
		text-align:center;
		font-size:25px;
		background:black;
		padding:5px 0px;
	}
	.gcwrapper #vidfeed
	{
		width:640px !important;
		padding:10px 0px;
		padding-top:10px;
	}
	.gcwrapper #vidfeed .vid{
		width:195px;
		margin-right: 9px;
		margin-left: 9px;
		text-align:center;

	}

	.gcwrapper #vidfeed li.vid img
	{
		/*height:auto !important;
		width:auto !important;*/
	}









	.abox{
		float:left;width:250px;margin:15px 10px 10px 10px;background:#111;
		color:#ddd !important
	}

	.abox .head{
		float:left;
		width:100%;
		text-align:center;
		padding:10px 0;
		border-bottom:1px solid #222;
	}

	.abox ul{
		float:left;
		width:230px;
		padding:10px;
	}

	.abox ul li{
		float:left;
		width:100%;
		font-size:13px;
		padding-bottom:8px;
		border-bottom:1px solid #333;
		margin-bottom:8px;
	}

	.abox ul li:last-child{
		border-bottom:0;
		margin-bottom:0;
	}

	.abox li img{
		float:left;
		margin-right:10px;
	}

	.abox li .title2{
		float:left;
		width:180px;
	}

	.abox .more{
		text-align:center;
		font-size:15px;
		margin-bottom:0px;
		padding-bottom:0px;

	}

	.abox .more a{
		/*color:#f90;*/

	}


	#arthome{
		float:left;
		width:100%;
	}

	#arthome .imgholder{
		display: block;
		width: 640px;
    	height: 360px;
	    overflow: hidden;
	    position: relative;


	}

	#arthome li{
		float:left;
		width:100%;
		margin-bottom:30px;
		padding-bottom:30px;
		border-bottom:1px solid #333;
	}

	.chalinfo{
		float:left;width:620px;padding:10px;font-size: 13px;
color: rgb(221, 221, 221) !important;
line-height: 1.1em !important;
	}

	.chalinfo p{
		float:left;
		width:100%;
		padding-bottom:15px;
	}

	.chalinfo a{
		color:#f90;
		font-style: italic;
	}

	.soci_actions{
		float: right;
		width: 480px;
		display:inline-block;
		margin:0 auto;
		text-align:center;
		padding-bottom:5px;
		margin-bottom:10px;
		border-bottom: 1px solid #5C5C5C;
	}
		.soci_actions li{
			float:left;
		}

	.soci_actions2{
		float:left;
		width: 640px;
		display:inline-block;
		height:23px;
		margin:8px auto 7px auto;
		text-align:center;
	}
		.soci_actions2 .fb{
			width:110px !important;
			margin-top:-2px;

		}
		.soci_actions2 .twit{
			width:90px !important;
		}
		.soci_actions2 .g{
			width:70px !important;
		}
		.soci_actions3 .share{
			width:110px !important;
			display             : -moz-inline-box;  /* FF2 or lower */
    display             : inline-block;     /* FF3, Opera, Safari */
			vertical-align: top;
margin-top: 7px;  
margin-left:10px;
		}

		.soci_actions2 li{
			display:inline-block;
			width:100px !important;
		}
		.soci_actions2 li:last-child{
			width:auto !important;
		}

	.soci_actions3{
		float:left;
		width: 640px;
		display:inline-block;
		height:23px;
		margin:8px auto 7px auto;
		text-align:center;
	}
		.soci_actions3 li{
			display:inline-block;
			width:50px !important;
			vertical-align: top;
		}

.closeit{
	float:right;font-size:15px;cursor:pointer;
}



#login_form{
	
	width:80%;
	text-align:center;
	margin:0 auto;
	background:#333;
	border:1px solid #444;
	padding-bottom:20px;
	border-radius:20px;
	box-shadow:1;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 1);
}
	#login_form hr{
		width:80%;
	    background-color: #444;
	    border: 0 none;
	    color: #eee;
	    height: 1px;
	    margin:0 auto;
	    display: inline-block;
	}
	
	#login_form .row{
		float:left;
		/*width:auto;*/
		width:100%;
		/*margin:30px 0px 5px 230px;*/
		margin:30px 0 5px 0px;
	}

		
		#login_form .center{
			text-align:center;
		}

		.pushlabel label{
			width:170px !important;
			margin-left:40px;
		}

		.pushlabel_noti label{
			width:270px !important;
			font-weight:400;
			margin-left:40px;
			margin-top:0;
		}

		

		#login_form .inptxt{
			padding:5px;
			font-size:20px;
			width:290px;
			outline: 0;
			margin: 3px 0 0 0;
			border-radius:5px;
			-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.7);
			-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.7);
			box-shadow: 0 1px 0 rgba(255,255,255,0.7);
		}

		#login_form .desc{
			float:right;
			width:420px;
			margin-top:5px;
		}

		#login_form .desc b{
			color:#1c8217;
		}
			#login_form .email{
				width:400px;
			}
		
		#login_form .submit{
			border:0;
			padding:10px 50px;
			background: #f90;
			font-size:16px;
			font-weight:bold;
			border-radius:5px;
			/*margin-left:65px;*/
			
			cursor: pointer;
			color:white;
			text-shadow:0px 0px 1px black;
			-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
			-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 1);
			box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 1);

		}

		#login_form .deact{
			font-weight:bold;
			color:#777;
			font-size:14px;
		}
		#login_form .deact:hover{
			text-decoration: underline;
		}

		#login_form .forget{
			font-weight:bold;
		}

		#login_form .forget:hover{
			text-decoration: underline;
		}


	 .wrong{
		float:left;
	width:100%;
	font-size:20px;
	text-align:center;
	border-top:1px solid red;
	border-bottom:1px solid red;
	background:#ffc5c0;
	padding:5px 0;
	margin:20px 0 -10px 0;
	color:black;
	font-size:13px;
	font-weight:bold;

}

.submitform .row{
	width:100% !important;
	margin:30px 0px 5px 0px !important;
}

.submitform .submit{
	margin-left:0 !important;
}
.subsub{
	line-height:1.3em;
}
.subsub .row{
	float:left;
	width:100%;
}
.subsub label{
	float:left;
	text-align:right;
	margin-right:10px;
	width:200px;
	font-size:17px;
	margin-top:10px;
}
.subsub label.error{
	color:#ff4914;
	text-align: center;
	float:left;
	width:100%;
}

.subsub .inptxt{
	float:left !important;
	width:400px !important;
	margin:0;
}
.subsub hr{
	color:#777 !important;
	float:left !important;
	width:100% !important;
	margin-top:20px !important;
}
.subsub textarea{
	border:0;
	font-size:14px !important;
	height:120px;
}


.desctxt{
	float:left;
	width:100%;
	text-align:center;
	font-size:13px;
}
.red{
	color:red;
}

.google_250{
	float:left;width:250px;
	margin:15px 10px 10px 10px;
}

.lazy {
background:black !important;
}

#legal{
	float:left;
	width:700px;
	font-family: Helvetica,Arial,sans-serif;

	color:#111;
	background:white;
	padding:20px;
	border-radius:20px;
	margin:10px 0;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
	border: 1px solid #3e3e3e;

}
	.reg_content{
		background: #333 !important;
		border: 1px solid #444 !important;
		color:white !important;
		font-family: arial, sans-serif !important;
	}
		.reg_content h1{
			color:white !important;
			
		}

		.reg_content a{
			color:#f90 !important;
			font-weight:normal !important;
		}

	#legal a{
		color:black;
		font-weight:bold;
	}

	#legal a:hover{
		color:#f90;
	}

	#legal h1{
		float: left;
width: 100%;
padding-bottom: 15px;
margin-bottom: 20px;

color: #222;
border-bottom: 3px solid #444;

	}

	#legal h1 .text{
		font-size: 30px;
		float:left;
	}

	#legal h1 .updated{
		float:right;
		/*position: relative;
		display: inline-block;*/
		top: -4px;
		margin: 0px;
		padding: 2px 6px;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.2;
		letter-spacing: 0.005em;
		background-color: #FFF08D;
	}

	#legal h2{
		border-bottom:0;
		font-size: 24px;
		line-height: 1.2em;
		width:100%;

	}

	#legal p {
	margin-bottom: 15px;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 30px;
	}

	#legal strong{
		font-weight:bold;
	}

	#legal section{
		margin-bottom: 30px;
	}

	#mainright{
		float:right;
		width:165px;
		text-align:right;
		margin-right:-10px;
		margin-top:10px;
		padding:15px 10px;
		-webkit-border-top-left-radius: 20px;
		-webkit-border-bottom-left-radius: 20px;
		-moz-border-radius-topleft: 20px;
		-moz-border-radius-bottomleft: 20px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		border-top: 1px solid #444;
		border-left: 1px solid #444;
		border-bottom: 1px solid #444;
		-webkit-box-shadow: -4px 0px 16px 0px rgba(0, 0, 0, 1);
		-moz-box-shadow:    -4px 0px 16px 0px rgba(0, 0, 0, 1);
		box-shadow:         -4px 0px 16px 0px rgba(0, 0, 0, 1);
		background: #333;
	}

	#mainright ul{
		float:right;
		width:155px;
		
	}

	#mainright ul li{
		float:right;
		width:100%;
		padding-bottom:10px;
		margin-bottom:10px;
		padding-right:10px;
		border-bottom:1px solid #606060;
	}

	#mainright ul li a{
		float:right;
		width:100%;
	}

	#mainright ul li .sel{
		color:#f90;
	}

	#mainright ul li:last-child{
		border-bottom:0;
		margin-bottom:0;
		padding-bottom:0;
	}

	.submenu{
		float:left;
		width:100%;
		margin:20px 0;
		background:#111;
		padding:7px 0;
		border-radius: 10px;
	}

	.submenu li{
		float:left;
		width:33%;
		text-align:center;
		border-right:1px solid #777;
		
	}

	.submenu li:first-child{
		margin-left:5px;
	}

	.submenu li:last-child{
		border-right:none;
	}

		.submenu .sel{
			color:#f90;
		}


.conf_box{
	color:#222;
	float:left;
	font-size:14px;
	/*width:926px;*/
	padding:10px;
	
	border-radius:7px;
}

.conf_box a{
	color:black;
	text-decoration: underline;
}

	.conf_box.yellow{
		background:#fffbdd;
		border:2px solid #ffde5a;
	}

	.conf_box.red{
		border:2px solid #ff6454;
		background:#ffd0d7;
	}

	.conf_box.green{
		background:#e9ffd9;
    border:2px solid #a6ca8a;
    font-size:15px;
	}

	.conf_box .row{
		margin-bottom:10px;
		float:left;
		width:100%;
	}

	.conf_box .button{
		color:black;
		font-weight:bold;
		text-decoration: underline;
		cursor:pointer;
	}

	.conf_box .js_close{
		cursor: pointer;
		display:block;
		float:right;
		font-weight:bold;
		font-size:20px;
		font-family: tahoma, Helvetica, arial;
	}


.authorbio{
	float:left;
	padding:10px;
	width:618px;
	background: #333;
	border: 1px solid #444;box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
	border-radius:10px;
}

	.authorbio a{
		text-decoration:underline;
	}

	.authorbio a.name {
		text-decoration:none !important;
	}
	.authorbio img{
		float:left;
		margin-right:10px;
	}

	.authorbio .right{
		float:left;
		width:460px;
	}

		.authorbio .name{
			float:left;
			width:100%;
			margin-bottom:5px;
			font-size:24px;
			color:#f90;
		}

		.authorbio .bio{
			float:left;
			width:100%;
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
line-height: 18px;
		}

		.authorbio .social{
			float:left;
			width:100%;
			margin-top:10px;
		}

			.authorbio .social img{
				width:30px;
			}

.theholder{
	display:none;
}


div#disqus_thread{
	border-radius: 10px;
	box-shadow: 0px 0px 5px black;
}

.subscribe{
	float:left;
	width:230px;
	margin:10px;
	background:#111;
	border:1px solid #f90;
	padding:10px;
	text-align: center;
}
	.subscribe .logo{
		width:100px;
		margin:0 auto;
		float:left;
	}

	.subscribe .top{
		float:left;
		width:100%;
		margin-bottom: 10px;
		padding-bottom: 5px;
		border-bottom:1px solid #444;
	}

	.subscribe h3{
		/*display: inline-block;*/
		margin-bottom:10px;
		font-size:23px;
	}

	.subscribe p{
		font-size:14px;
		margin-bottom:20px;
		float:left;
		width:100%;
	}

	.subscribe .inptxt{
		width:200px;
		border:1px solid #333;
		padding:5px;
		font-size:16px;
		margin-bottom:5px;
	}

	.subscribe .submit{
	
		text-align: center;
		display: inline-block;
		margin:0 auto;
		border:0;
		padding:5px 30px;
		background: #f90;
		font-size:18px;
		font-weight:bold;
		border-radius:5px;
		cursor: pointer;
		color:white;
		text-shadow:0px 0px 1px black;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 1);
box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 1);
	}
