#users #left{
	float:left;
	width:640px;
}

	#users #left .breadcrumbs{
		float:left;
		width:630px;
		padding:5px;
		font-size:14px;
		background:black;
		border-radius:10px;
		margin-bottom:20px;
	}
		#users #left .breadcrumbs .name{
			color:#f90;
		}

#users #left .profile-box{
	float:left;
	padding:10px;
	width:620px;
	border-radius:5px;
	background:#444;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
	margin-bottom:20px;
}
	
	.profile-box .proview{
		font-size:14px;
		margin-top:5px;
		float:left;
		width:100%;
		text-align: center;
		background:black;
	}

	.profile-box .left{
		float:left;
		width:200px;
		margin-right:10px;
	}

		.profile-box .left img{
			float:left;
			width:100%;
			
		}

	.profile-box .right{
		float:right;
		width:400px;
	}

		.profile-box .right .name{
			float:left;
			width:100%;
			border-bottom:1px solid #777;
			font-size:30px;
			padding-bottom:5px;
			margin-bottom:10px;

		}

		.profile-box .info{
			float:left;
			width:100%;

		}

			.profile-box .info .row{
				float:left;
				width:100%;
				margin-bottom:4px;

			}

			.profile-box .info .q{
				float:left;
				width:31px;
				margin-right:10px;
			}
			
			.profile-box .info .a{
				float:left;
				width:300px;
			}

#users .navtabs{
	float:left;
	width:640px;
	margin:0;
	z-index:10;
	position:relative;
}

 
	.navtabs li {
		font-size: 13px;
		padding: 5px 25px !important; 
		cursor:pointer;
	}
 
	.navtabs .sel {
		color: #f90;
		text-shadow: 0px 0px 2px black; }

.navtabs li {
	float: left;
	width: auto;
	font-size: 20px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid #000;
	text-align: center;
	color: #CCCCCC;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
	border-right: 1px solid #222222;

	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); }
 
.navtabs .subtab{
background: -moz-linear-gradient(top,  rgba(255,153,0,1) 0%, rgba(255,153,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,153,0,1)), color-stop(100%,rgba(255,153,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,153,0,1) 0%,rgba(255,153,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,153,0,1) 0%,rgba(255,153,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,153,0,1) 0%,rgba(255,153,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,153,0,1) 0%,rgba(255,153,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#00ff9900',GradientType=0 ); /* IE6-9 */


}

.navtabs .sel {
	background: #333;
	border-bottom: none;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	color: #f90;
		text-shadow: 0px 0px 2px black; }
 

.navtabs .sel {box-shadow:0 0 10px #000;}
.navtabs {overflow:hidden; padding:10px 5px 0 10px}

#users .content_boxes{
	float:left;
	width:620px;
	background:#333;
	padding:10px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
	z-index: 1;
	margin-bottom:5px;

}

	#users .inbox{
		float:left;
		width:100%;

	}

		#users .inbox .mini_nav{
			width:auto;
			background:#111;
			border-radius:10px;
			padding:5px 10px;
			margin:7px 0px 15px auto;
			display:inline-block;
			text-align: center;
		}

			#users .inbox .mini_nav li{
				float:left;
				width:auto;
				margin:0;
				padding:0 20px;
				cursor:pointer;
			}

			#users .inbox .mini_nav li{
				border-right:1px solid #777;
			}

			#users .inbox .mini_nav li:last-child{
				border:0;
			}

			#users .inbox .mini_nav .sel, .mini_nav .sel a{
				color:#f90;
			}

		#users .inbox .row{
			float:left;
			width:600px;
			padding-bottom:10px;
			border-bottom:1px solid #555;
			margin-bottom:20px;
			background:#111;
			padding:10px;
			border-radius:5px;
		}

			#users .inbox .heading{
				float:left;
				width:100%;
				margin-bottom:10px;
				
			}
				#users .inbox .heading h3{
					float:left;
					font-size:20px;
					margin-right:10px;
				}

				#users .inbox .heading .viewall{
					float:left;
					font-size:14px;
					margin-top:5px;
					color:#f90;

				}

			#users .inbox ul{
				float:left;
				width:100%;
			}

				#users .inbox ul li{
					float:left;
					width:100px;
					margin-right:20px;
					text-align:center;
				}

				#users .inbox li img{
					float:left;
					width:100%;
				}


				#users .inbox li .text{
					font-size:13px;
				}

				#users .inbox .video li{
					width:130px;
				}

			#users .inbox .long li{
				float:left;
				width:100%;
				text-align:left;
				margin-bottom:10px;
				padding-bottom:10px;
				border-bottom:1px solid #333;
			}

			#users .inbox .long li:last-child{
				border-bottom:0;
				margin-bottom:0;
			}

				#users .long li img{
					width:120px;
				}

				#users .long li .right{
					float:right;
					width:470px;
				}

				#users .long li a:hover{
					color:white;
				}

				#users .long li .text{
					font-size:13px;
					color:#f90;
					font-size:25px;
					float:left;
					width:100%;
					margin-bottom:10px;
				}

				#users .long li .desc{
					font-size:13px;
					line-height: 1.3em;
				}