/* ===== Top navigation ===== */
.wrapper { width: 1000px; margin: auto; }
#topNav { height: 36px; display: block; }
.fixed { position: fixed; background: url(../images/topNav.jpg) repeat; width: 100%; color: #eeeeee;  z-index: 999; }

.welcome { float: left; }
.welcome img { float: left; margin: 8px 8px 8px 0 }
.welcome span { padding: 8px 5px; display: block; white-space: nowrap; float: left; font-size: 12px; margin-top: 4px; }

.userNav { float: right; z-index: 6000; position: relative; font-size: 11px; }
.userNav .lastNav { width: 2px; height: 36px; background: url(../images/navSep.png) repeat-y; position: absolute; top: 0; right: 0; }
.userNav ul { margin-right: 2px; }
.userNav ul li { display: inline; float: left; position: relative; cursor: pointer; border-right: 1px solid #2f2f2f; }
.userNav ul li:first-child { border-left: 1px solid #2f2f2f; }
.userNav ul li a { color: #eeeeee; text-decoration: none; display: block; float: left; }
.userNav ul li:hover, .selected { background: #212121; }
.userNav ul li span { display: block; padding: 8px 14px 8px 8px; float: left;margin-top: 4px; }
.userNav ul li img { float: left; display: block; padding: 13px 2px 11px 14px; }

.userNav ul li ul { position: absolute; left: -1px; display: none; top: 35px; margin-top: 0px; background: #2f2f2f; padding: 0 1px 1px 1px; border: 1px solid #1d1d1d; z-index: 100; }
.userNav ul li ul li { display: block; float: none; border-top: 1px solid #2f2f2f; background: #212121; border-right: none; border-bottom: 1px solid #141414; }
.userNav ul li ul li:first-child { border-left: none!important; }
.userNav ul li ul li a { width: 100px; padding: 6px 10px 7px 36px; font-size: 11px; text-transform: none; color: #c5c5c5; font-weight: normal; background-color: none; float: none; }
.userNav ul li ul li a:hover { background-color: none; font-weight: normal; color: #a4a4a4; }
.userNav ul li ul li:hover { background: #1d1d1d!important; }

.sAdd { background: url(../images/icons/topnav/subAdd.png) no-repeat 15px 13px; }
.sInbox { background: url(../images/icons/topnav/subInbox.png) no-repeat 14px 12px; }
.sOutbox { background: url(../images/icons/topnav/subOutbox.png) no-repeat 14px 11px; }
.sTrash { background: url(../images/icons/topnav/subTrash.png) no-repeat 14px 12px; }


/* Accordion */
.menu_body { display: none; padding: 12px 14px; }
.acc .head { margin-bottom: -1px; cursor: pointer; }
.acc .head h5 { padding: 9px 14px; }